<!doctype html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="Example Webapp" content="www.example.com"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>webapp</title>

    <link rel="shortcut icon" href="/static/img/favicon_32x32.ico">

    {% block links %} {% endblock links %}
    
    {% block headscripts %} {% endblock headscripts %}
  </head>
	
  <body id="body">
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse"
            data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>

          <a class="brand" href="#">webapp</a>

          <div class="nav-collapse">
            <ul class="nav">
              <li><a href="/">Home</a></li>
              <li><a href="/about">About</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    {% block content %}
    {% endblock content %}

    {% block endscripts %} {% endblock endscripts %}

  </body>
</html>



