{% extends "base.html" %}

{% block headscripts %}
<!-- Call this block from 'base' -->
{{super()}}

<!-- Our app loads here. -->
<script data-main="static/js/birdwatch/main" src="/static/js/other/require.js"></script>

<!-- CSS using LESS. Make sure to include less.js *before* your CSS -->
<link rel="stylesheet/less" type="text/css" href="/static/css/birdwatch.less" />
<script src="/static/js/other/less.js" type="text/javascript"></script>
{% endblock headscripts %}

{% block content %}
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <div id="worldmap"></div>
    </div>
  </div>
</div>
{% endblock content %}

