{% extends "base.html" %}

{% block headscripts %}
    <link rel="stylesheet" type="text/css" href="/static/css/webapp.css"/>
    <script data-main="static/js/main" src="/static/js/require.js"></script>
{% endblock headscripts %}

{% block page %}
<div id="page">
    <div class="graph">
        <div id="graphContainer1"></div>
        <div class="graph-controls">
            <button data-bind="click: refresh">Refresh</button>
            Direct 
            <input type="checkbox" data-bind="
                checked: direct">
            </input>
            Inverse 
            <input type="checkbox" data-bind="
                checked: inverse">
            </input>
        </div>
    </div>
</div>
{% endblock page %}

