{% extends "base.html" %}

{% block headscripts %}
<!-- Call this block from 'base' -->
{{super()}}

<!-- Our app loads here. -->
<script data-main="static/js/whereami/main" src="/static/js/other/require.js"></script>

<!-- CSS using LESS. Make sure to include less.js *before* your CSS -->
<link rel="stylesheet/less" type="text/css" href="/static/css/whereami.less" />
<script src="/static/js/other/less.js" type="text/javascript"></script>
{% endblock headscripts %}

{% block content %}
<div id="map"></div>
{% endblock content %}


