@import "base.css";

.graph {
    width: 90%;
    height: 400px;
    margin-left: 5%;
}

.graph-controls {
    background-color: #f3f2f1;
    border-radius: 5px;
    margin: 10px 0px;
    padding: 10px;
    color: #4f4f4f;
}
